<!DOCTYPE html>
<html>
  <head>
    <title>Adventure Mad Libs</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Let's Get spooky!</h1>
    <form action="/spooky-story" method="post">

      <label for="animalName">Enter a name:</label>
      <input id="animalName" name="animalName" type="text">

      <label for="timePeriod">Enter a time period:</label>
      <input id="timePeriod" name="timePeriod" type="text">

      <label for="residence">Enter a type of residence:</label>
      <input id="residence" name="residence" type="text">

      <label for="adjective">Enter an adjective:</label>
      <input id="adjective" name="adjective" type="text">

      <label for="creature">Enter a creature:</label>
      <input id="creature" name="creature" type="text">

      <label for="color">Enter a color:</label>
      <input id="color" name="color" type="text">

      <label for="sound">Enter a sound:</label>
      <input id="sound" name="sound" type="text">

      <label for="object">Enter an object:</label>
      <input id="objectOne" name="objectOne" type="text">

      <label for="number">Enter a number:</label>
      <input id="number" name="number" type="number" min="2">

      <label for="hour">Enter an hour:</label>
      <input id="hour" name="hour" type="text">

      <label for="emotion">Enter an emotion:</label>
      <input id="emotion" name="emotion" type="text">

      <label for="element">Enter an element:</label>
      <input id="element" name="element" type="text">

      <button type="submit">Go!</button>
    </form>
  </body>
</html>